body {
	background-color: rgb(105, 151, 147);
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 9%;
	font-family: 'Source Sans Pro', sans-serif;
	
}
/*Common elements*/
title {
    text-align: left;
    margin-left: 150px;
    font-size: 75px;
    color: rgb(6, 19, 6);
    padding: 20px;
}
/*Header*/
h1 {
	text-align: left;
	margin-left: 150px;
	font-size: 80px;
    color:aliceblue;
    margin: 0.5em 0 0.5em 0;
    padding: 0px;
}
h2 {
    text-align: left;
    margin-left: 240px;
	color: aliceblue;
	padding: 0px;
    position: fixed;
    top: 110px;
}
 

#acctNav {
	color: rgb(241, 245, 241);
	
}
/*Nav Bar*/
nav {
	text-align: center;
	font-size: 20px;
	font-family: 'Palatino';
	color: rgb(241, 245, 241);
    position: fixed;
    left: 0;
    top: 0;
	background-color: rgb(197, 238, 214);
	width: 84%;
    height: 85px;
	margin-left: 8em;
	margin-top: 10em;
}

ul  {
 
	padding: 0.2em 8.0em;
	display: inline-block;
	margin-left: 9em;
	   margin-top: 1em;
	
	
   
   }

li {
	display: inline;
	float: left;
	
}

li a {
	display: block;
	padding: 10px;
	background-color: rgb(197, 238, 214); /*rgb(190, 230, 213);*/
	background-size: 10px;
	text-align: center;
	color: rgb(42, 121, 110);
    font-size: 22px;
	
    
}

li a:hover{
    background-color: aliceblue;
}
/*Main*/
section#middletxt {
	position: absolute;
	text-align: right;
	
	border: 1px dotted aliceblue;
	margin-left: 180px;
	margin-right: 250px;
	max-width: 800px;
	margin-top: 50px;
}

h3 {
	color: aliceblue;
	max-width: 800px;
	max-height: 400px;
    text-align: center;
    position: fixed;
    margin-left: 15em;
    margin-top: 10em;
    font-size: 30px;
    top: 0;
    left: 0;
    right: 0;

}


p {
	color: aliceblue;
	padding-right: 40px;
	padding-left: 40px;
	max-width: 800px;
	max-height: 400px;
}
h4 {
	color: rgb(42, 121, 110);
    max-width: 570px;
    text-align: center;
    position: fixed;
    margin-left: 17em;
    margin-top: 11em;
    font-size: 23px;
    background-color:rgb(197, 238, 214);
     

}
h6 {

	color: rgb(42, 121, 110);
	max-width: 1200px;
	text-align: center;
	position: fixed;
	margin-left: 6em;
	margin-top: 35%;
	font-size: 23px;
	background-color:rgb(197, 238, 214);
	 
}
/*Footer*/

h5 {
	color: rgb(23, 118, 23);
	text-align: left;

}

::placeholder {
	color: rgb(23, 118, 23);
	font-size: small;
}

footer {
    position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	background-color: rgb(197, 238, 214);
	width: 84%;
	height: 85px;
	margin-left: 9em;
	margin-top: 10em;
	
}

.footlist {

	text-align: center;
	font-size: 20px;
	color: rgb(23, 118, 23);
	padding-top: 25px;
}

.footlist a {

	color: rgb(23, 118, 23);
	padding-top: 4px;
    font-family: 'Palatino';
}


